parameters:

    paths:
        - app/
        - tests/Architecture

    # Level 9 is the production minimum for strict type safety
    # Level 10 is the highest level (experimental checks)
    level: 9

    # PHPat configuration
    phpat:
        ignore_built_in_classes: true
        show_rule_names: true

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
