<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://phpunit.de/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/typo3/testing-framework/bootstrap.php"
    colors="true"
    convertDeprecationsToExceptions="false"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false">

    <testsuites>
        <testsuite name="Unit">
            <directory>packages/mens_circle/Tests/Unit</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>packages/mens_circle/Tests/Functional</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="TYPO3_EXTENSION_KEY" value="mens_circle" />
    </php>
</phpunit>
