[data-theme="fresh"] {
    --typo3-color-neutral-mix: 20%;
    --token-color-primary-base: #9f7818;
    --token-color-secondary-base: hsl(from var(--token-color-primary-base) h 10% l);

// Scaffold
--typo3-scaffold-header-color: var(--typo3-surface-primary-text);
    --typo3-scaffold-header-bg: light-dark(hsl(from var(--typo3-surface-primary) h 40% 20), hsl(from var(--typo3-surface-primary) h 20% 10));
    --typo3-scaffold-header-box-shadow: none;
    --typo3-scaffold-sidebar-color: var(--typo3-surface-primary-text);
    --typo3-scaffold-sidebar-bg: light-dark(hsl(from var(--typo3-surface-primary) h 40% 20%), hsl(from var(--typo3-surface-primary) h 20% 10%));
    --typo3-scaffold-sidebar-border-width: 0;

    .scaffold-sidebar {
        --typo3-icons-accent: light-dark(#ffd39a, #ffc68c);
    }

    @media (min-width: 992px) {
        .scaffold-content:before {
            --size: 1rem;
            content: '';
            position: absolute;
            top: calc(var(--size) * -1);
            inset-inline-start: calc(var(--size) * -1);
            height: calc(var(--size) * 2);
            width: calc(var(--size) * 2);
            background-color: var(--typo3-scaffold-sidebar-bg);
            user-select: none;
            mask:
                    radial-gradient(
                            circle at 100% 100%,
                            transparent calc(var(--size) - .5px),
                            black calc(var(--size) + .5px)
                    );
            z-index: calc(var(--typo3-zindex-header) + 2);
        }
    }
}