---
import { Image } from 'astro:assets'
import AboutImageSrc from '../assets/about.png'
import About2ImageSrc from '../assets/about2.jpeg'
---

<section class="relative bg-black/5 py-32 dark:bg-white/5" id="about">
  <div class="mx-auto max-w-screen-2xl px-8">
    <div class="md:w-1/2">
      <h2 class="mb-16 text-4xl font-bold md:text-6xl">
        <span class="block" data-js="page-about-animation">Männerkreis</span>
        <span class="block" data-js="page-about-animation">Moderator</span>
        <span class="block" data-js="page-about-animation">Markus Sommer</span>
      </h2>
      <div class="prose md:prose-lg dark:prose-invert" data-js="page-about-animation">
        <p>
          Als Familienvater von zwei wundervollen Söhnen begann ich mich intensiv mit Persönlichkeitsentwicklung zu
          beschäftigen, nachdem mein zweites Kind geboren wurde. Jahrelang suchte ich den Sinn meines Lebens im Äußeren,
          in Arbeit und Beziehungen, um meine eigene Wertigkeit zu bestimmen. Erst als mir bewusst wurde, dass dieser
          Sinn nicht in meiner äußeren Welt zu finden ist, sondern in mir selbst, fand ich in der Männerarbeit die
          nötige Ruhe und Stabilität. Diese transformative Erfahrung möchte ich nun mit euch teilen.
        </p>
        <p>
          In der heutigen Zeit fehlt Männern oft die Gelegenheit, in ihre Männlichkeit einzutauchen und sie zu erkunden.
          Viele Männer verspüren nie ihre wahre männliche Kraft und fühlen sich innerlich wie Jungen in erwachsenen
          Körpern.
        </p>
        <p>Bist du bereit, deine Männlichkeit zu entfesseln? Schließe dich meinem Männerkreis in Straubing an.</p>
        <p>
          Mein Mentor und Lehrer: <a
            href="https://www.receive-tribe.com/"
            target="_blank"
            rel="noreferrer noopener nofollow">Alex Wirthl</a
          >
        </p>
      </div>
    </div>
  </div>
  <div
    class="about__images relative top-0 right-0 bottom-0 mx-8 mt-8 flex aspect-square min-h-80 max-w-screen-lg items-center overflow-hidden px-8 md:absolute md:left-1/2 md:ml-12 md:aspect-auto"
  >
    <div class="absolute left-0 w-3/5">
      <Image
        src={About2ImageSrc}
        alt="Männerkreis Moderator Markus Sommer"
        class="about__image about__image--1 z-10 object-fill"
        format="webp"
        layout="none"
        width={800}
        height={1000}
      />
    </div>

    <div class="absolute right-0 w-3/5 pt-44">
      <Image
        src={AboutImageSrc}
        alt="Männerkreis Moderator Markus Sommer"
        class="about__image about__image--2 z-10 object-fill"
        format="webp"
        layout="none"
        width={800}
        height={1000}
      />
    </div>
  </div>
</section>

<script>
  import { animate, scroll, stagger, inView } from 'motion'
  document.addEventListener('DOMContentLoaded', () => {
    inView(
      '#about',
      () => {
        animate(
          '.about__image',
          { opacity: [0, 1], x: [200, 0] },
          { duration: 0.3, delay: stagger(0.3), ease: 'circOut' },
        )
      },
      {
        margin: '-100px',
      },
    )

    inView(
      '#about',
      () => {
        animate(
          '[data-js="page-about-animation"]',
          { opacity: [0, 1], x: [-200, 0] },
          { duration: 0.3, delay: stagger(0.3), ease: 'circOut' },
        )
      },
      {
        margin: '-100px',
      },
    )
  })
</script>
