---
import { Image } from 'astro:assets'
import AboutImageSrc from '../assets/about.png'
import About2ImageSrc from '../assets/about2.jpeg'
---

<section class="bg-black/5 py-32 dark:bg-white/5" id="about">
  <div class="mx-auto max-w-screen-xl items-center gap-16 px-4 lg:grid lg:grid-cols-2 lg:px-6 lg:py-16">
    <div>
      <h2 class="mb-16 text-4xl font-bold md:text-center md:text-6xl">
        <span class="block" data-js="page-about-animation">Männerkreis</span>
        <span class="block" data-js="page-about-animation">Moderator</span>
        <span class="block" data-js="page-about-animation">Markus Sommer</span>
      </h2>
      <div class="prose dark:prose-invert" data-js="page-about-animation">
        <p>
          Als Familienvater von zwei wundervollen Söhnen begann ich mich intensiv mit Persönlichkeitsentwicklung zu
          beschäftigen, nachdem mein zweites Kind geboren wurde. Jahrelang suchte ich den Sinn meines Lebens im Äußeren,
          in Arbeit und Beziehungen, um meine eigene Wertigkeit zu bestimmen. Erst als mir bewusst wurde, dass dieser
          Sinn nicht in meiner äußeren Welt zu finden ist, sondern in mir selbst, fand ich in der Männerarbeit die
          nötige Ruhe und Stabilität. Diese transformative Erfahrung möchte ich nun mit euch teilen.
        </p>
        <p>
          In der heutigen Zeit fehlt Männern oft die Gelegenheit, in ihre Männlichkeit einzutauchen und sie zu erkunden.
          Viele Männer verspüren nie ihre wahre männliche Kraft und fühlen sich innerlich wie Jungen in erwachsenen
          Körpern.
        </p>
        <p>Bist du bereit, deine Männlichkeit zu entfesseln? Schließe dich meinem Männerkreis in Straubing an.</p>
        <p>
          Mein Mentor und Lehrer: <a
            href="https://www.receive-tribe.com/"
            target="_blank"
            rel="noreferrer noopener nofollow">Alex Wirthl</a
          >
        </p>
      </div>
    </div>
    <div class="about__images mt-8 flex pt-44">
      <div class="-mr-52">
        <Image
          src={About2ImageSrc}
          alt="Männerkreis Moderator Markus Sommer"
          class="about__image about__image--1 z-10 -mt-44 object-fill"
          format="webp"
          layout="none"
          width={400}
          height={500}
        />
      </div>

      <div>
        <Image
          src={AboutImageSrc}
          alt="Männerkreis Moderator Markus Sommer"
          class="about__image about__image--2 z-10 object-fill"
          format="webp"
          layout="none"
          width={400}
          height={500}
        />
      </div>
    </div>

    <script>
      import { animate, scroll, stagger, inView } from 'motion'
      const isMobile = window.matchMedia('(max-width: 768px)').matches

      const target = document.querySelector('.about__images')
      if (target && !isMobile) {
        scroll(animate('.about__image--1', { y: [-100, 100] }, { ease: 'linear' }), {
          offset: ['start end', 'end end', 'start start', 'end start'],
          target,
        })
        scroll(animate('.about__image--2', { y: [-200, 200] }, { ease: 'linear' }), {
          offset: ['start end', 'end end', 'start start', 'end start'],
          target,
        })
      }

      document.addEventListener('DOMContentLoaded', () => {
        inView(
          '#about',
          () => {
            animate(
              '[data-js="page-about-animation"]',
              { opacity: [0, 1], x: [-200, 0] },
              { duration: 0.3, delay: stagger(0.3), ease: 'circOut' },
            )
          },
          {
            margin: '-100px',
          },
        )
      })
    </script>
  </div>
</section>
