---

---

<nav class="absolute top-0 z-40 bg-white py-4 shadow">
  <ul class="mx-auto flex w-full max-w-screen-2xl space-x-4 px-8 text-lg uppercase">
    <li><a href="/" class="hover:text-primary-500">Home</a></li>
    <li><a href="#about" class="hover:text-primary-500">Über mich</a></li>
    <li><a href="#events" class="hover:text-primary-500">Veranstaltungen</a></li>
    <li><a href="#contact" class="hover:text-primary-500">Kontakt</a></li>
  </ul>
</nav>
