---

---

<nav class="">
  <ul class="mx-auto flex max-w-screen-2xl space-x-4 uppercase">
    <li><a href="/">Home</a></li>
    <li><a href="#about">Über mich</a></li>
    <li><a href="#events">Veranstaltungen</a></li>
    <li><a href="#contact">Kontakt</a></li>
  </ul>
</nav>
