---

---

<div class="z-40 bg-black/5 py-4 dark:bg-white/5">
  <nav class="mx-auto flex max-w-screen-2xl justify-center space-x-4 px-8 text-lg uppercase">
    <a href="/" class="hover:text-primary-500">Home</a>
    <a href="/#about" class="hover:text-primary-500">Über mich</a>
    <a href="/#events" class="hover:text-primary-500">Veranstaltungen</a>
    <a href="/#contact" class="hover:text-primary-500">Kontakt</a>
  </nav>
</div>
