---
import '../styles/global.css'
import Footer from '../components/Footer.astro'
import '@fontsource-variable/jost'
import Navigation from '../components/Navigation.astro'
---

<!doctype html>
<html lang="de" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Männerkreis Niederbayern" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>Männerkreis Niederbayern</title>
  </head>
  <body class="font-jost bg-white text-black dark:bg-stone-900 dark:text-white">
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
