---
import { cn } from '@/lib/utils'
import { classes } from './ButtonProps'
import type { ButtonProps } from './ButtonProps'

interface Props extends ButtonProps {}

const { href, type = 'button', size = 'm', class: customClass, ...props } = Astro.props

const sizeClasses = classes.sizes[size] || classes.sizes.m
const mergesClasses = cn(classes.base, sizeClasses, customClass)
---

{
  href ? (
    <a href={href} class={mergesClasses} {...props}>
      <slot>Jetzt teilnehmen</slot>
    </a>
  ) : (
    <button type={type} class={mergesClasses} {...props}>
      <slot>Jetzt teilnehmen</slot>
    </button>
  )
}
